
<% link_to "トップページ", root_path %>

<h3 class= "top">ようこそBookersへ！</h3>

<p class= "second"><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>

<p class= "third">印象を共有し、交換することが出来ます</p>

<p class= "second"><a href ="/books">start</a></p>
